* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9BA8Ab;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #06141B;
  color: white;
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
  align-items: stretch;

  gap: 40px;
  padding: 40px;
}

.containerElements,
.rightStep {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerElements {
  max-width: 600px;
  background: linear-gradient(135deg,#020617 0%,#06141B 50%,#0B2E3F 100%);
  padding: 40px;
  border-radius: 30px;
  gap: 30px;
}

.containerElements h1 {
  font-size: 2.5rem;
}

.containerElements p {
  font-size: 1.1rem;
  opacity: 0.7;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  width: 100%;
  color: #fff;
  background: rgba(255,255,255,0.08);
  border: 2px solid #4F8CFF;
  padding: 12px 12px 12px 40px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(79,140,255,0.3);
}

.inputWrapper input:focus {
  outline: none;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.containerElements button {
  padding: 15px;
  border-radius: 50px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg,#3b82f6,#2563eb);
  box-shadow: 0 10px 25px rgba(59,130,246,0.4);
  transition: 0.3s;
}

.containerElements button:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  transform: rotate(-90deg);
  transition: transform 0.8s ease;
  border: 3px solid #1e3a8a;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.logo img:hover {
  transform: rotate(270deg) scale(1.10);
}

.rightStep {
  max-width: 800px;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(135deg,#0A2540 0%,#1E5EFF 50%,#3A86FF 100%);
  box-shadow: 0 0 40px rgba(59,130,246,0.2);
  height: 100%;
}

.introduction {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.rightStep h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.cardItem {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.cardItem:hover {
  background: rgba(255,255,255,0.08);
  transform: translateX(5px);
}

.cardIcon {
  border: 1px solid rgba(255,255,255,0.2);
  padding: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.cardIcon svg {
  width: 50px;
  height: 500px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .containerElements,
  .rightStep {
    max-width: 100%;
    padding: 20px;
  }

  .logo img {
    width: 140px;
    height: 140px;
  }

  .rightStep h1 {
    font-size: 2rem;
  }
}