body{
  overflow-x: hidden;
}

.initialBody{
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  background: linear-gradient(
    135deg,
    #020617 0%,
    #06141B 50%,
    #0B2E3F 100%
  );
  color: white;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.positive {
  color: #16a34a;
  font-weight: 600;
}

.negative {
  color: #ef4444;
  font-weight: 600;
}

.neutral {
  color: #f59e0b;
  font-weight: 600;
}

.positive,
.negative,
.neutral {
  transition: all 0.3s ease;
}

.containerResult{
    cursor: pointer;
    margin-left: 5vh;
    padding-left: 10vh;
    max-width: 900px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.containerResult h1{
    font-size: 3.4rem;
}

.containerResult h2{
    display: flex;
    width: fit-content; 
    margin: 0;      
    cursor: pointer;
    position: relative;
}

.containerResult h2::after{
    content: "";
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    position: absolute;
    background: #3b82f6;
    transition: 0.3s;
}

.containerResult h2:hover::after {
  width: 100%;
}

.sub{
    opacity: 0.6;
    position: relative;
    bottom:3vh;
    left: 9vh;
}

.newP{
    position: relative;
    left: 2vh;
    font-size: 1.6rem;
}

.iconU{
    position: relative;
    top: 3vh;
    right: 2vh;
}

.cardsSumary{
  background: rgba(255, 255, 255, 0.03);
  height: 15vh;
  display: flex;
  margin-top: 20px;
  flex-direction:column;
  margin-bottom: 4vh;
  border-radius: 20px;
  padding-left: 7px;
  width: 100%;
  max-width: 900px;
  gap: 40px;
  box-shadow: 0 0 35px rgba(59, 130, 246, 0.2);
}

.cardsSumary:hover{
 transform: translateY(-6px) scale(1.02);
 box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.iconSumary{
    position: relative;
    top: 3vh;
    right: 2vh;
}

.userMessage{
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.2);
  width: 100%;
  max-width: 600px;
  border-radius:28px ;
  padding-left: 3vh;
  background-color: #09202c;
  position: relative;
  right: 1vh;
  top: 3vh;
}

.happy{
    position: relative;
    bottom: 1vh;
    left: 11vh;
}

.lightB{
    margin: 0;
    padding: 0;
    position: relative;
    top: 5vh;
    right: 2vh;
}

.userMessage p{
    position: relative;
    font-size: 1;
    bottom: 2vh;
    left: 9vh;
    display: inline;
}

.userMessage h4{
    font-size: 1.6rem;
    margin: 10px;
    padding: 10px;
}

.containerRight {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 25px;
  position: relative;
}

.containerRight{
  background: linear-gradient(
    135deg,
    rgba(4, 38, 92, 0.08),
    rgba(16, 185, 129, 0.05)
  );
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 20px;
}

.containerRight::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 20px;
  width: 4px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    #22c55e,
    #ef4444,
    #3b82f6
  );
}

.Keep, .Control, .Stay {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.Keep { border-color: #22c55e; }
.Control { border-color: #ef4444; }
.Stay { border-color: #3b82f6; }

.iconUp, .iconShield, .iconScale{
     flex-shrink: 0;  
     border-radius: 100%;
     padding: 5px;
     margin-top: 18px;
}

.iconUp{
     background: linear-gradient(135deg, #22c55e, #4ade80, #16a34a);
}

.containerRight h4{
    display: flex;
    width: fit-content; 
    margin: 0;  
    cursor: pointer;
    position: relative;
}

.containerRight h4::after{
    content: "";
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    position: absolute;
    background: #3b82f6;
    transition: 0.3s;
}

.containerRight h4:hover::after {
  width: 100%;
}

.iconShield{
    background: linear-gradient(135deg, #ef4444, #f87171, #dc2626);
}

.Insights{
    padding-left: 3vh;
}

.newGraphic {
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.modal button {
  padding: 5px 5px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.modal button:hover {
  background: #2563eb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconScale{
    right: 17vh;
    background: linear-gradient(135deg, #3b82f6, #60a5fa, #2563eb);
}

.containerRight h5{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    white-space: nowrap;
}

.containerRight p{
    opacity: 0.7;
    line-height: 1.5;
    position: relative;
}

.newInsights{
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  gap: 15px;
  transition: all 0.3s ease;
}

.newInsights:hover {
  transform: translateX(5px);
}

.textContent {
  display: flex;
  padding-left: 10px;
  padding-bottom: 40px;
  flex-direction: column;
}

.newInsights p{
    max-width: 100%;
    margin-bottom: 40px;
}

.sumaryButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 3vh;
}

.exit{
    padding: 5px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
    font-size:1.8rem;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease;
    background: transparent;
    color: #EAEAEA;
    border: 1px solid rgba(255,255,255,0.3);
}

.save{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 5px;
    height: 8vh;
    text-decoration: none;
    border-radius: 50px;
    font-size:1.8rem;
    width: 100%;
    max-width: 300px;
    background: linear-gradient(135deg, #3B82F6, #1D4ED8);
    color: white;
}

.save:hover{
  box-shadow: 0 10px 20px rgba(59, 130, 246, 0.3);
  transform: translateY(-3px);
}

.exit:hover{
    opacity: 0.7;
    background: rgba(255,255,255,0.05);
}

@media(max-width:768px){
  .initialBody{

    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .containerResult{
    margin: 0;
    padding-left: 0;
  }

  .cardsSumary{
    max-width: 100%;
  }

  .containerRight{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }

  .containerRight::before{
    display: none; 
  }
}